﻿@inject FA.JustBlog.Services.Comments.ICommentServices commentServices
@model FA.JustBlog.Core.Entities.Post
@{
    ViewData["Title"] = "Post Details";
    List<string> tags=ViewBag.ListTag;
    var listComment = commentServices.GetCommentsOfPostForUser(Model.Id);
}
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.btnAddComment').off('click').on('click', function () {
                $.ajax({
                    url: '/Post/AddComment',
                    data: { PostId: $(this).data('id'), CommentText: $('#commnenttext').val() },
                    dataType: 'json',
                    type: 'POST',
                    success: function (res) {
                        var str="<li class='media'><a href='#' class='pull-left'><img src='https://bootdey.com/img/Content/user_1.jpg' alt='' class='img-circle'</a><div class='media-body'><span class='text-muted pull-right' style='float:right'><small class='text-muted'>";
                        str+=res.ModifiedOn+"</small></span><strong class='text-success'>res.Name</strong>";
                        str+="<p>"+res.CommentText+"</p></div></li>"
                        $('#comments').html(str);                           
                    },
                    error: function (res) {
                        console.log(res.responseText);
                        alert("Error has occurred..");
                    }
                })
            });
        })
    </script>
}
@section header{
  <header class="masthead" style="background-image:url('@Url.Content("~/layoutuser/img/about-bg.jpg")')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 class="text-white">@Model.Title</h1>
            <p class="subheading" style="color:white">
                 Posted @Model.ModifiedOn with rate @Model.Rate by @Model.ViewCount view(s)
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
}
<div class="post-preview">
    <h5>
       Category: <a asp-controller="Category" asp-action="Index" asp-route-name="@Model.Category.Name">@Model.Category.Name</a>
    </h5>
    <h5>Tag:
    @foreach(var item in tags){
           <a asp-controller="Post" asp-action="GetPostByTag" asp-route-name=@item class="btn btn-dark text-white">@item</a>
    }
    </h5>
    <div>
        @Html.Raw(Model.PostContent)
    </div>
</div>
<div class="container">
<div class="row bootstrap snippets bootdeys">
    <div class="col-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <hr />
                <div class="panel-heading">
                    Comment 
                </div>
                <div class="panel-body">
                    @*<form asp-area="Admin" asp-controller="Comment" asp-action="Create" method="post">*@
                        <textarea class="form-control" placeholder="write a comment..." rows="3" id="commnenttext"></textarea>
                        <br>
                        <button type="button" class="btn btn-info pull-right btnAddComment" data-id="@Model.Id">Post</button>
                   @* </form>*@
                    
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="media-list">
                            @foreach(var item in listComment)
                            {
                                <li class="media">

                                    <a href="#" class="pull-left">
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                    </a>
                                    <div class="media-body">
                                        <span class="text-muted pull-right " style="float:right">
                                            <small class="text-muted">@item.ModifiedOn</small>
                                        </span>
                                        <strong class="text-success">@item.Name</strong>
                                        <p>
                                            @item.CommentText
                                        </p>
                                    </div>
                                </li>
                                
                            }
                            <div id="commnents">
                            </div>

                        
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

