﻿@using ReflectionIT.Mvc.Paging
@model ReflectionIT.Mvc.Paging.PagingList<PostReviewViewModel>
@addTagHelper*,ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}
@section header{
  <header class="masthead" style="background: url('@Url.Content("~/layoutuser/img/home-bg.jpg")')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 lass="text-white">Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>
}
@foreach(var item in Model){
    <div class="post-preview">
          <a href="/Home/Details/@item.Id">
            <h2 class="post-title">
              @item.Title
            </h2>
          </a>
          <p class="post-meta">
              Posted @item.ModifiedOn with rate @item.Rate by @item.ViewCount view(s)
           </p>
         <h5 class="post-subtitle">
              @item.ShortDescription
         </h5>
    </div>
    <hr>
}
<nav aria-label="navigation">
    <vc:pager paging-list="@Model"/>
</nav>
@*<nav aria-label="navigation">
   @await this.Component.InvokeAsync("Pager", new{pagingList=this.Model})
</nav>*@

