﻿@using FA.JustBlog.ViewModels.Accounts

@model LoginViewModel
@{
    Layout = null;
    string[] errorMessages = ViewBag.ErrorMessages;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Admin page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        
         <p>Login page</p>
        @if (errorMessages != null)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in errorMessages)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
        <form asp-area="Admin" asp-controller="Account" asp-action="Login">
           <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input type="text" class="form-control" asp-for="Email">
           <span asp-validation-for="Email"></span>
          </div>
          <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input type="password" class="form-control" asp-for="Password">
           <span asp-validation-for="Password"></span>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
   </div>
</body>
</html>
