﻿@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model CreateCommentViewModel

@{
    ViewData["Title"] = "Create";
    string[] errorMessages = ViewBag.ErrorMessages;
    var user = await UserManager.FindByNameAsync(@User.Identity?.Name);
}

<h1>Create</h1>
<hr />
@if(errorMessages != null)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in errorMessages)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
<div class="row">
    <div class="col-md-12">
       
        <form asp-area="Admin" asp-controller="Comment" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PostId" />
            <input type="hidden" asp-for="Name" value="@user.UserName" />
            <input type="hidden" asp-for="Email" value="@user.Email" />
            <div class="form-group">
                <label asp-for="CommentHeader" class="form-label"></label>
                 <input type="text" asp-for="CommentHeader" class="form-control" />
                 <span asp-validation-for="CommentHeader" class="text-danger"></span>
               
            </div>
            <div class="form-group">
                <label asp-for="CommentText" class="control-label"></label>
                <textarea asp-for="CommentText" class="form-control" rows="5"></textarea>
                <span asp-validation-for="CommentText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>            
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" asp-route-id="@ViewBag.PostId">Back to List</a>
</div>


