﻿@model FA.JustBlog.Core.Entities.Comment

@{
    ViewData["Title"] = "Delete";
    string[] errorMessages = ViewBag.ErrorMessages;
}

<h1>Delete</h1>
@if(errorMessages != null)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in errorMessages)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Category</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="btn btn-danger"  asp-route-postid="@ViewBag.PostId" value="Delete" />|
        @*<input type="submit" value="Delete" class="btn btn-danger" data-postId="@ViewBag.PostId"/> |*@
        <a asp-action="Index" asp-route-id="@ViewBag.PostId">Back to List</a>
    </form>
</div>
