﻿@model IEnumerable<CommentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-success" asp-action="Create" asp-route-postid=@ViewBag.PostId><i class="fas fa-plus"></i>&nbsp Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentHeader)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentHeader)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-postid=@ViewBag.PostId>Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" asp-route-postid=@ViewBag.PostId>Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" asp-route-postid=@ViewBag.PostId>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-controller="Post" asp-action="Index">Back to List</a>
</div>