﻿@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@{
    var id = this.User.FindFirstValue(ClaimTypes.NameIdentifier);
    var user = UserManager.Users.FirstOrDefault(p=>p.Id==id);
}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords"
        content="Leave management, .net 6, .net coew, complete asp.net entity framework development">
    <meta name="description"
        content="Education Project">
    <meta name="robots" content="noindex,nofollow">
    <title>@ViewData["Title"] - JustBlog.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Comment.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FA.JustBlog.Web.styles.css" asp-append-version="true" />
    

    <link rel="canonical" href="https://www.wrappixel.com/templates/xtreme-admin-lite/" />
     <link href="~/layoutuser/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header" data-logobg="skin5">
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" href="index.html">
                        <!-- Logo icon -->
                        <b class="logo-icon">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            @*<img src="../../assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="../../assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />*@
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span class="logo-text">
                           JustBlog Mangement
                        </span>
                    </a>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-start me-auto">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item search-box"> <a class="nav-link waves-effect waves-dark"
                                href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search position-absolute">
                                <input type="text" class="form-control" placeholder="Search &amp; enter"> <a
                                    class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-end">
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                        @*<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item active" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>*@
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/images/hinh-anh-con-meo-cute3.jpg" alt="user" class="rounded-circle" width="31">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end user-dd animated" aria-labelledby="navbarDropdown">
                                <li>
                                     <a class="dropdown-item" asp-area="Admin" asp-controller="Account" asp-action="UpdateInfor"
                                     asp-route-id="@user.Id"> 
                                    <i class="fas fa-sign-out-alt"></i>Acount information
                                    </a>
                                </li>
                                <li>
                                     <a class="dropdown-item" asp-area="Admin" asp-controller="Account" asp-action="ChangePassword" 
                                     asp-route-email="@user.Email">                               
                                    <i class="fas fa-sign-out-alt"></i>Change Password
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Account" asp-action="Logout">                               
                                    <i class="fas fa-sign-out-alt"></i>Logout
                                    </a>
                                </li>
                            </ul>
                            
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <!-- User Profile-->
                        <li>
                            <!-- User Profile-->
                           @* @if (User.Identity.IsAuthenticated)
                            {
                              return RedirectToAction("Login", "Account")
                            }*@


                            @if (SignInManager.IsSignedIn(User))
                            {
                                <div class="user-profile d-flex no-block dropdown m-t-20">
                                <div class="user-pic"><img src="~/images/hinh-anh-con-meo-cute3.jpg" alt="users"
                                        class="rounded-circle" width="40" /></div>
                                <div class="user-content hide-menu m-l-10">
                                  
                                         <a  class="nav-link" asp-area="Admin" asp-page="/Account/Manage/Index" title="Manage">
                                        <h6 class="m-b-0 user-name font-medium" style="font-size:12px" >@user.UserName <i
                                                class="fa fa-angle-down"></i></h6>
                                        <span class="op-5 user-email">@User.FindFirstValue(ClaimTypes.Role)</span></a>
                                </div>
                            </div>


                           @* <li class="p-15 m-t-10">
                              <form  class="form-inline" asp-area="Admin" asp-controller="Account" asp-action="Logout">
                                <button class="nav-link btn d-block w-100 create-btn text-white no-block d-flex align-items-center"
                                type="submit"><i class="fas fa-sign-out-alt"></i>Logout</button>
                                </form>
                            </li>*@
                            }
                            @*else
                            {
                                <li class="p-15 m-t-10">
                                    <a class="nav-link btn d-block w-100 create-btn text-white no-block d-flex align-items-center"
                                    asp-area="Identity" asp-page="/Account/Register"><i class="fas fa-portrait"></i>
                                    <span>Register</span></a>
                                </li>
                                <li class="p-15 m-t-10">
                                    <a class="nav-link btn d-block w-100 create-btn text-white no-block d-flex align-items-center"
                                    asp-area="Identity" asp-page="/Account/Login"><i class="fas fa-user"></i>
                                    <span>Login</span></a>
                                </li>
                            }*@
                            
                            <!-- End User Profile-->
                        </li>
                        <li class="sidebar-item">
                              <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                              asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>
                                <span class="hide-menu m-l-5">Home</span> </a>
                        </li>
                       
                             <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="Categories" asp-action="Index"><i
                                        class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Category</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="Tag" asp-action="Index"><i
                                        class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Tag</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="Post" asp-action="Index"><i
                                    class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Post</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="User" asp-action="Index"><i
                                    class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">User</span></a>
                            </li>
                            <li class="sidebar-item">
                                <a class="nav-link sidebar-link waves-effect waves-dark sidebar-link" 
                                asp-area="Admin" asp-controller="Role" asp-action="Index"><i
                                    class="fa fa-plus-square"></i> <span class="hide-menu m-l-5">Role</span></a>
                            </li>
                       @* }*@
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
   
  @*  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/app-style-switcher.js"></script>
    <!--Wave Effects -->
    <script src="~/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/js/custom.js"></script>
    <!--This page JavaScript -->
    <!--chartis chart-->
    <script src="~/layoutuser/chartist/dist/chartist.min.js"></script>
    <script src="~/layoutuser/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="~/js/dashboard1.js"></script>

     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    

   <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

    <script>
        $(function(){
            $('.table').DataTable();
            $(".datepicker").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>

  <script src="~/lib/plugin/ckeditor/ckeditor.js"></script>
  <script src="~/lib/plugin/ckfinder/ckfinder.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  <script src="~/js/jsHelper.js"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>
