﻿@model UpdateUserViewModel

@{
    ViewData["Title"] = "Update";
    string[] errorMessages = ViewBag.ErrorMessages;
}

<h1>Update</h1>
<hr />
@if(errorMessages != null)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in errorMessages)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }

<div class="row">
    <div class="col-md-12">
       
        <form asp-area="Admin" asp-controller="User" asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="form-label"></label>
                 <input type="text" asp-for="UserName" class="form-control" />
                 <span asp-validation-for="UserName" class="text-danger"></span>               
            </div>           
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
             <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


