﻿@inject FA.JustBlog.Services.Comments.ICommentServices commentServices

@model FA.JustBlog.Core.Entities.Post
@{
    ViewData["Title"] = "Post Details";
    List<string> tags=ViewBag.ListTag;
    var listComment = commentServices.GetCommentsOfPostForUser(Model.Id);
}


@section header{
  <header class="masthead" style="background-image:url('@Url.Content("~/layoutuser/img/about-bg.jpg")')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 class="text-white">@Model.Title</h1>
            <p class="subheading" style="color:white">
                 Posted @Model.ModifiedOn with rate @Model.Rate by @Model.ViewCount view(s)
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
}
<div class="post-preview">
    <h5>
        Category: <a asp-controller="Category" asp-action="Index" asp-route-name="@Model.Category.Name">@Model.Category.Name</a>
    </h5>
    <h5>Tag Of Post: </h5>
    @foreach(var item in tags){
        @if (item!=" ")
        {
             <a asp-controller="Post" asp-action="GetPostByTag" asp-route-name=@item class="btn btn-dark ml-2">@item</a>
        }
    }
    <div>
        @Html.Raw(Model.PostContent)
    </div>
</div>
<div class="container">
<div class="row bootstrap snippets bootdeys">
    <div class="col-md-8 col-sm-12">
        <div class="comment-wrapper">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Comment panel
                </div>
                <div class="panel-body">
                    <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                    <br>
                    <button type="button" class="btn btn-info pull-right">Post</button>
                    <div class="clearfix"></div>
                    <hr>
                    <ul class="media-list">
                        <li class="media">
                            <a href="#" class="pull-left">
                                <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">30 min ago</small>
                                </span>
                                <strong class="text-success">MartinoMont</strong>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor sit amet, <a href="#">#consecteturadipiscing </a>.
                                </p>
                            </div>
                        </li>
                        <li class="media">
                            <a href="#" class="pull-left">
                                <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">30 min ago</small>
                                </span>
                                <strong class="text-success">LaurenceCorreil</strong>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Lorem ipsum dolor <a href="#">#ipsumdolor </a>adipiscing elit.
                                </p>
                            </div>
                        </li>
                        <li class="media">
                            <a href="#" class="pull-left">
                                <img src="https://bootdey.com/img/Content/user_3.jpg" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                                <span class="text-muted pull-right">
                                    <small class="text-muted">30 min ago</small>
                                </span>
                                <strong class="text-success">JohnNida</strong>
                                <p>
                                    Lorem ipsum dolor <a href="#">#sitamet</a> sit amet, consectetur adipiscing elit.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
