﻿@model IList<PostReviewViewModel>

@{
    ViewData["Title"] = "Index";
}
@section header{
  <header class="masthead" style="background: url('@Url.Content("~/layoutuser/img/post-bg.jpg")')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 lass="text-white">@ViewBag.TagName</h1>
          </div>
        </div>
      </div>
    </div>
  </header>
}
@foreach(var item in Model){
    <div class="post-preview">
         <a asp-controller="Post" asp-action="Details" asp-route-year ="@item.ModifiedOn.Year" asp-route-month = "@item.ModifiedOn.Month.ToString("00")"
        asp-route-url ="@item.UrlSlug" class="post-title"><h2 class="post-title">@item.Title </h2></a>
          <p class="post-meta">
              Posted @item.ModifiedOn with rate @item.Rate by @item.ViewCount view(s)
           </p>
         <h5 class="post-subtitle">
              @item.ShortDescription
         </h5>
    </div>
    <hr>
}


