﻿@*@model List<CategoryViewModel>*@

@inject FA.JustBlog.Services.Categories.ICategoryServices categoryServices
@{
    var categories = categoryServices.GetAll();
}

<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
    </li>
    @foreach (var item in categories)
    {
        <li class="nav-item">
             <a asp-controller="Category" asp-action="Index" class="nav-link" asp-route-name="@item.Name">@item.Name</a>
       </li>
    }
    <li class="nav-item">
       <a class="nav-link" href="contact.html">Contact</a>
    </li>
 </ul>

