﻿@inject FA.JustBlog.Services.Posts.IPostServices postServices
@{
    var listViewedPost = postServices.GetHighestPosts(5);
}
<h4 style="color: blue">5 Highest Post</h4>
@foreach(var item in listViewedPost){
    <a asp-controller="Post" asp-action="Details" asp-route-year ="@item.ModifiedOn.Year" 
        asp-route-month = "@item.ModifiedOn.Month.ToString("00")" asp-route-url ="@item.UrlSlug">
            <h6 class="post-title">@item.Title </h6>
    </a>
}
<hr />
