﻿@using FA.JustBlog.Web.Areas.Admin.Views.Shared.Components.SearchBar
@model SPager
<div class="container btn-group">
    <div class="col-4 p-0 justify-content-end">
    <form asp-controller="@Model.Controller" asp-action="@Model.Action">
        <span class="btn-group">
            <input class="form-control" type="text" name="Search" placeholder="Title name"
            value="@Model.Search"/>
            <input class="p-1 ml-2 btn btn-sm btn-info" type="submit" value="Search" />
        </span>
    </form>
</div>
<div class="container">
    @if (Model.TotalPages > 0)
    {
        <ul class="pagination justify-content-end">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action" asp-route-pg="1">First</a>
                </li>
                <li >
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action"
                    asp-route-pg="@(Model.CurrentPage-1)">Previous</a>
                </li>
            }
            @for(var pge = Model.StartPage; pge <= Model.EndPage; pge++)
            {
                <li class="page-item @(pge==Model.CurrentPage ? "active":"")">
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action"
                    asp-route-pg="@pge">@pge</a>
                </li>
            }
             @if (Model.CurrentPage <Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action"
                    asp-route-pg="@(Model.CurrentPage+1)">Next</a>
                </li>
                <li >
                    <a class="page-link" asp-controller="@Model.Controller" asp-action="@Model.Action"
                    asp-route-pg="@(Model.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>




</div>

