﻿@model CreateCategoryViewModel

@{
    ViewData["Title"] = "Create";
    var status=TempData["Status"];   
    string[] errorMessages = ViewBag.ErrorMessages;
}

<h1>Create</h1>
<hr />
@if(errorMessages != null)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in errorMessages)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
<div class="row">
    <div class="col-md-12">
       
        <form asp-area="Admin" asp-controller="Categories" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="form-label"></label>
                 <input type="text" asp-for="Name" class="form-control" />
                 <span asp-validation-for="Name" class="text-danger"></span>
               
            </div>
           
            <div class="form-group">
                <label asp-for="UrlSLug" class="control-label"></label>
                <input asp-for="UrlSLug" class="form-control" />
                <span asp-validation-for="UrlSLug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label asp-for="Status" class="control-label"></label>
                <select name="Status" class="form-select">                   
                   <option selected="selected" value="@Model.Status">@Model.Status</option>
                        @if(@Model.Status==0){
                             <option>Enable</option>
                        }
                        else{
                            <option>Disable</option>
                        }                                     
                </select>
            </div>  
             <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

