﻿
@model CreateCategoryViewModel

@{
    ViewData["Title"] = "Edit";
    string[] errorMessages = ViewBag.ErrorMessages;
}

<h1>Edit</h1>

<h4>Category</h4>
<hr />
@if (errorMessages != null)
        {
            <div class="alert alert-danger">
                <ul>
                    @foreach (var error in errorMessages)
                    {
                        <li>@error</li>
                    }
                </ul>
            </div>
        }
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UrlSLug" class="control-label"></label>
                <input asp-for="UrlSLug" class="form-control" />
                <span asp-validation-for="UrlSLug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
               <label asp-for="Status" class="control-label"></label>
                <select name="Status" class="form-select">                   
                   <option selected="selected" value="@Model.Status">@Model.Status</option>
                        @if(@Model.Status==0){
                             <option>Enable</option>
                        }
                        else{
                            <option>Disable</option>
                        }                                     
                </select>
            </div>  
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
